@model Sem3.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Category </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create Category</h4>
                        <form asp-action="Edit" class="forms-sample">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <hr />
                            <input type="hidden" asp-for="CategoryId" />
                            <div class="form-group">
                                <label asp-for="CategoryName" for="exampleInputName1">CategoryName</label>
                                <input asp-for="CategoryName" type="text" class="form-control" id="exampleInputName1" placeholder="CategoryName">
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                            <button value="Save" type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button asp-action="Index" class="btn btn-dark">Back to List</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <!-- partial -->
</div>



